target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/stats-client-emulator/.idea/libraries
/Diploma/.settings
/Diploma/*.classpath
/Diploma/*.project
/diploma-web-application/.idea
/diploma-web-application/.settings
/test-web-application/.classpath
/test-web-application/.settings
/stats-client-emulator/.classpath
/stats-client-emulator/.idea
/stats-client-emulator/.settings
/stats-client-emulator/.project
/diploma-web-application/.classpath
/diploma-web-application/.project
/stats-client-emulator/*.iml
/test-web-application/*.project
